.Underconstruction-page {
  background: #fcf1d3;
  align-items: center;
  color: #fcf1d3;
  flex-direction: column;
  display: flex;
  justify-content: center;
  /* display: flex; */
  /* justify-content: center; */
  padding-left: 5%;
  padding-right: 5%;
  min-height: 100vh;
  overflow: hidden;
}

.construction-hero {
  align-items: center;
  background: url("./upgrade.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-width: 80vw;
  /* justify-content: center; */
  /* display: flex; */
}

.text1 {
  background: #141831;
  margin-left: 2%;
  margin-right: 2%;
  /* transform: rotate(90deg); */
  text-align: left;
}

.text2 {
  background: #b21d31;
  margin-left: 2%;
  margin-right: 2%;
  text-align: right;
  /* transform: rotate(90deg); */
}

.construction-message {
  color: #1c1c1c;
}
