.header {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 15vh;
  align-items: center;
  justify-content: center;
  transition-duration: 0.4s;
  /* background: lightcoral; */
}

.sticky {
  transition-duration: 0.4s;
  height: 10vh;
  background: white;
  position: fixed;
  top: 0;
}

.header-container {
  padding-left: 2vw;
  padding-right: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: lightcyan; */
  width: 100%;
}

.night-mode-toggle {
  /* fill: black; */
  cursor: pointer;
}

.header-items {
  /* should be edited */
  visibility: hidden;
  /* should be edited */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 20vw;
}

.header-item-option {
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  text-align: center;
  color: #212121;
}
