.footer-body {
  background: #141831;
  min-width: 100vw;
  min-height: 15vh;
  color: #fcf1d3;
  display: flex;
  flex-direction: column;
}
.footer-sections {
  min-height: 15vh;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
.footer-logo {
  color: #fcf1d3;
}

.footer-element {
  justify-content: center;
  min-width: 20vw;
  display: flex;
  align-items: center;
}

.footer-svg {
  fill: white;
  padding-right: 5%;
}

.footer-link {
  cursor: pointer;
}

.footer-rights-reserved {
  text-align: center;
}
