@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
.whole {
  overflow-x: hidden;
  user-select: none;
}

.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #1c1c1c;
  display: flex;
  flex-direction: column;
  font-size: xx-large;
  min-height: 100vh;
  min-width: 100vw;
}

.page-section {
  /* background: lightcyan; */
  min-height: 90vh;
  padding-top: 10vh;
  max-width: 100vw;
  display: flex;
}

.link {
  text-decoration: none;
  color: #212121;
}
@media only screen and (max-width: 600px) {
  .App {
    font-size: large;
  }
}
