.hero {
  /* background: lightcyan; */
  min-height: 85vh;
  padding-top: 15vh;
  max-width: 100vw;
  display: flex;
}

.hero-right {
  /* background: lightgreen; */
  width: 50vw;
  height: 85vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero-left {
  /* background: lightsalmon; */
  width: 50vw;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-section {
  transition-duration: 0.4s;
}
.hero-section:hover {
  background: whitesmoke;
  transition-duration: 0.4s;
}

.hero-image {
  height: 25vh;
}
